@import "../utils/variables";
.container {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 120px;
  padding-left: 90px;

  min-height: 100vh;
  min-width: 90vw;
  background-color: $primary-color;
}
